<div id="main">
    <form class="container col-md-4" [formGroup]="formgroup" (ngSubmit)="onSubmit()">
        <div class="card">
            <h1 class="center"> Add Ariport Form</h1>
        <div class="form-group p-2">
        <input type="number" class="form-control p-2" formControlName="airportno" id="name" placeholder="Enter the number of airport">
        </div> 
        <div class="form-group p-2">
        <input type="text" class="form-control p-2" formControlName="airportName" id="name" placeholder="Enter the name of airport">
        </div> 
        <div class="form-group p-2">
        <input type="text" class="form-control p-2" formControlName="airportCode" id="name" placeholder="Enter the code of airport">
        </div> 
        <div class="form-group p-2">
        <input type="text" class="form-control p-2" formControlName="airportLocation" id="name" placeholder="Enter the location of airport">
        </div> 
        <div class="form-group p-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </div>
    </form>
</div>
<!-- {{response | json}} -->