<!-- 
<div class="add-booking-form">
    <form (ngSubmit)="onsubmit()">
      <div>
        <label for="schedduleId">schedduleId:</label>
        <input type="number" id="schedduleId" [(ngModel)]="schedule.schedduleId" required>
      </div>
      <div>
        <label for="arrivalTime">arrivalTime:</label>
        <input type="date" id="arrivalTime" [(ngModel)]="schedule.arrivalTime" name="arrivalTime" >
      </div>
      <div>
        <label for="departureTime">departureTime:</label>
        <input type="date" id="departureTime" [(ngModel)]="schedule.departureTime" name="departureTime" >
      </div>

      <div>
        <label for="sourceairport">sourceairport:</label>
        <input type="text" id="sourceairport" [(ngModel)]="schedule.sourceAirport" name="sourceAirport" >
      </div>

      <div>
        <label for="destinationairport">destinationairport:</label>
        <input type="text" id="destinationairport" [(ngModel)]="schedule.destinationAirport"ame="destinationAirport">
      </div>

      <div>
        <button type="submit">Schedule Flight</button>
      </div>
    </form>
  </div> -->

  <div class="add-booking-form">
    <form (ngSubmit)="onsubmit()">
      <div>
        <label for="schedduleId">schedduleId:</label>
        <input type="number" id="schedduleId" [(ngModel)]="schedule.schedduleId" name="schedduleId" required>
      </div>
      <div>
        <label for="arrivalTime">arrivalTime:</label>
        <input type="date" id="arrivalTime" [(ngModel)]="schedule.arrivalTime" name="arrivalTime">
      </div>
      <div>
        <label for="departureTime">departureTime:</label>
        <input type="date" id="departureTime" [(ngModel)]="schedule.departureTime" name="departureTime">
      </div>
      <div>
        <label for="sourceairport">sourceairport:</label>
        <input type="text" id="sourceairport" [(ngModel)]="schedule.sourceAirport" name="sourceAirport">
      </div>
      <div>
        <label for="destinationairport">destinationairport:</label>
        <input type="text" id="destinationairport" [(ngModel)]="schedule.destinationAirport" name="destinationAirport">
      </div>
      <div>
        <button type="submit">Schedule Flight</button>
      </div>
    </form>
  </div>
  